fastapi
uvicorn
starlette
python-multipart

jose
PyJWT
python-dotenv

groq
pydantic
authlib

redis
aioredis

numpy
pandas
faiss-cpu
rank-bm25

opencv-python
pillow
pytesseract

python-pptx
python-docx
beautifulsoup4
PyPDF2

sentence-transformers
google-generativeai
